/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. Most Rights Reserved. */

.cfx:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	}

html[xmlns] .cfx {
	display: block;
	}
	
* html .cfx {
	height: 1%;
	overflow: visible;
	}