/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. All Rights Reserved. */

div#ice-shadow {
	position: fixed;
	top: 0px;
	left: 0px;
	display: none;
	width: 100%;
	height: 100%;
	background-image: url('../images/icebox/shadow.png');
	background-repeat: repeat;
	z-index: 8400;
	}
	
div#icebox {
	position: absolute;
	display: none;
	width: auto;
	height: auto;
	max-width: 80.00%;
	max-height: 80.00%;
	min-width: 20.00%;
	min-height: 20.00%;
	background-color: #007BA7;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
	border-radius: 2px;
	box-shadow: 0px 0px 1.00em #000;
	font-family: sans-serif, serif;
	font-size: 1.40em;
	z-index: 8500;
	}
	
div#icebox > a#icebox-close {
	float: right;
	margin-top: -1.00em;
	margin-right: -1.00em;
	padding: 0.25em 0.50em;
	background-color: #000;
	border-width: 1px;
	border-color: #EEE;
	border-style: ridge;
	border-radius: 4px;
	box-shadow: 0px 0px 0.50em #000;
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
	z-index: 8800;
	}
	
div#icebox > a#icebox-close:hover, div#icebox > a#icebox-close:active {
	background-color: #D00;
	}
		
div#icebox > div, div#icebox img {
	max-width: 100.00%;
	max-height: 100.00%;
	}
	
div#icebox > div {
	margin: 1.25%;
	}