/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. Most Rights Reserved. */

#login h1 a {
	width: 100.00%;
	background-image: url('../images/logo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100.00%;
	}
	
#backtoblog {
	display: none;
	}