/* Cascading Style Sheet Created By: PxO Ink (http://pxoink.net/) */
/* Cascading Style Sheet Copyright © 2014 PxO Ink. Most Rights Reserved. */

body {
	font-family: sans-serif, serif;
	font-size: 62.50%;
	}

html, body {
	height: 100%;
	border: none;
	}

* html a:hover {
	visibility: visible;
	}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, hr, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0px;
	padding: 0px; 
	}
	
img {
	border-width: 0px;
	}